node_modules
vendor
.git
.gitignore
.env
.env.backup
.env.production
*.md
screenshots
tests
phpunit.xml
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker-compose.yml
.dockerignore
